name: Test Orchestrator

# Allows a “Run workflow” button in the Actions tab

#I need to look into how to run external workflows, so far the answer seems like it might be just using the api call but idk if that's correct
on:
  workflow_dispatch: {}

jobs:
  run-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      # ---- your tests go here ----
      - name: Checkout double repo
        uses: actions/checkout@v4 
        with:
          repository: JeffCompasClassrooms/testing-with-doubles-Za-boss
      - name: Install double requirements
        run: pip install -r requirements.txt
      - name: Run Double Tests
        run: pytest --spec
          
      - name: Checkout behave repo
        uses: actions/checkout@v4
        with:
          repository: JeffCompasClassrooms/testing-with-behave-Za-boss

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install requirements
        run: pip install -r requirements.txt

      - name: set up Chrome
        uses: browser-actions/setup-chrome@v2
        with:
          install-chromedriver: true

      - name: Run behave test suite 1
        working-directory: testing-1/features
        run: behave

      - name: Run behave test suite 2
        working-directory: testing-2/features
        run: behave

        #The workflow run will break here, but that's just because I put in failing test cases
      - name: Checkout system repo
        uses: actions/checkout@v4
        with:
          repository: JeffCompasClassrooms/testing-systems-Za-boss
      - name: Install requirements
        run: pip install -r requirements.txt
      - name: Run System Tests
        run: pytest --spec
